body {  
    
background-image: url(https://media.istockphoto.com/id/1390650720/photo/digital-network-connection-abstract-connection-of-dots-and-lines-technology-background-plexus.jpg?s=612x612&w=0&k=20&c=mX3Pe2x4I6ZQp5S6m9kOPo6CIiUB7lB82nD8T0vnEAI=);
}


form {  

   width: 30%;  

   margin: 60px auto;  

   background-image: url(https://media.istockphoto.com/id/1390650720/photo/digital-network-connection-abstract-connection-of-dots-and-lines-technology-background-plexus.jpg?s=612x612&w=0&k=20&c=mX3Pe2x4I6ZQp5S6m9kOPo6CIiUB7lB82nD8T0vnEAI=);
 

   padding: 60px 120px 80px 120px;  

   text-align: center;  

   -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 

   box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 

}
